<div class="artist" id='artist-single'>
    <div class="artistImage">
        <img src={{artist.url}}>
    </div>
    <div class="artistInfo">
        <div class="artistTitle">
            {{artist.name}}
        </div>
        <div class="artistDesc">
            {{artist.about}}
        </div>
    </div>
</div>