<!DOCTYPE html>
    <head>
        <title>COMP 4711 Lab 5 - A01031961, Tomson Tai</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="/css/style.css" rel="stylesheet" />
        
    </head>
    
    <body>




    <!-- lab 4 due Oct 8th, next Tuesday at 11:59 pm -->

    <div>
        <form>
            <p class="formTitle">Artist Directory</p>
            <br>
            <input type="text" name="aName" class="aFormName" id="aFormNameId"  > 
            <input type="button" name="addArtistButton" class="addArtistFormButton" value="Add Artist" onclick="add_Artist_Form(); clearForm()">
            <input type="button" name="searchArtistButton" class="searchArtistClassButton" value="Search" onclick="search_Artist() ">
        </form>
    </div>

    <div id="inputForm">
        <form id="inputFormId" action = "http://localhost:3000/file_upload" method = "POST">
            <input maxlength="40" type="text" placeholder="Artist Name" name="inputArtistName" id="inputArtistText" required /> <br>
            <input maxlength="40" type="text" placeholder="About artist" name="inputAbout" id="inputAboutText" required />  <br>
            <input type="text" placeholder="Image url" name="inputURL" id="inputURLText" required /><br>
            <input type="button" onclick="add_Artist_Form(); addToDatabase(); showInfo()" value="Add" >
        </form>
    </div>

    
    <div id="baseDiv">
        <ul id="ulElement">

        </ul>
    </div> 


    <script src="../js/lab5.js"></script>
    
</body>
</html>